# /etc/systemd/system/docker-compose-color.service
# thanks to oleg belostotsky and mike coleman on stack overflow

[Unit]
Description=Docker Compose Color Controversy Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# match the below to wherever you copied your docker-compose.yml
WorkingDirectory=/home/ubuntu/color
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
